{% extends './blank.html' %} {% load widget_tweaks %} {% block content %}
<div class="md:flex h-full w-full">

  <ul
    id="default-tab"
    data-tabs-toggle="#default-tab-content"
    role="tablist"
    data-tabs-active-classes="bg-blue-700 dark:bg-blue-600 text-white"
    data-tabs-inactive-classes="hover:text-gray-900 bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
    class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0"
  >
    {% if user.is_patient %} 
        {% include "account/profile/patient/patient_default_tab.html" %} 
    {% endif %} 
    {% include "account/profile/general/general_default_tab.html" %}
  </ul>

  <div id="default-tab-content" class="w-full">

    {% if user.is_manager %} 
        {% include "account/profile/manager/delete_modal.html" %} 
        {% include "account/profile/manager/edit_modal.html" %}
    {% elif user.is_doctor %}
        {% include "account/profile/doctor/edit_status.html" %} 
    {% else %}
        {% include "account/profile/patient/profile.html" %} 
    {% endif %} 

    <div
      id="appointments"
      role="tabpanel"
      aria-labelledby="appointments-tab"
      class="p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full h-full"
    >
      {% if user.is_manager %}
        <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">
            Все записи на прием
        </h3>
        <div id="calendar"></div>
      {% elif user.is_doctor %}
        <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">
            Ваши записи на прием
        </h3>
        <div id="calendar_doctor"></div>
      {% else %} 
        {% include "account/profile/patient/appointment.html" %} 
      {% endif %}
    </div>

    {% include "account/profile/general/notification_jquery.html" %}

  </div>

</div>

{% endblock content %} {% block scripts %} {{ block.super }}
<script
  src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
  integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.11/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/scrollgrid@6.1.11/index.global.min.js"></script>




{% if user.is_patient is not True %}
    {% load static %}
    <script src="{% static 'js/Cookie.js' %}"></script>
    <script src="{% static 'js/status_to_color.js' %}"></script>
    <script src="{% static 'js/profile/general.js' %}"></script>
{% endif %}

<script>

    {% if user.is_patient is not True %} 
        var appointments = {{ appointments|safe }};
        const events = appointments.map((el) => {
            return {
                id: el.id,
                title: el.title,
                start: el.start,
                end: el.end,
                color:  statusToColor(el.status),
                description: `Пациент: ${el.patient}. ${el.comment && "Оставил комментарий: " + el.comment }`
                }
        })
        function submitEdit(eventId) {
            const form = document.getElementById('editEventForm');
            const formData = new FormData(form);
        
            const formBody = new URLSearchParams();
            for (const pair of formData) {
                formBody.append(pair[0], pair[1]);
            }
            
            fetch('{% url 'update_event' event_id=1 %}'.replace("1", `${eventId}`), {
              method: 'POST',
              body: formBody,
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': getCookie('csrftoken') // This assumes you have a function getCookie that can retrieve the CSRF token
            },
            // Include credentials to ensure that cookies are sent with the request
            credentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
              document.getElementById('editModal').classList.add('hidden');
            })
            .catch(error => console.error('Error:', error));
          }
    {% endif %}

  

</script>

{% if user.is_manager  %}
    {% load static %}
    <script src="{% static 'js/profile/manager/modal.js' %}"></script>
    <script src="{% static 'js/profile/manager/calendar.js' %}"></script>
{% elif user.is_doctor %}
    {% load static %}
    <script src="{% static 'js/profile/doctor/modal.js' %}"></script>
    <script src="{% static 'js/profile/doctor/calendar.js' %}"></script>
{% endif %}

{% endblock %}
